### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
all_df= pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
all_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# Since there are many same schools, have to find the unique:
schoolnames = all_df["school_name"].unique()
number_school = len(schoolnames)
number_school

15

In [4]:
# Total number of students
total_students = all_df["student_name"].count()
total_students

39170

In [5]:
# Total Budget

total_budget = school_data["budget"].sum()
total_budget

24649428

In [6]:
# Average Math Score
average_math = student_data["math_score"].mean()
average_math

78.98537145774827

In [7]:
# Average Reading Score
average_reading = round(student_data["reading_score"].mean(), 2)
average_reading

81.88

In [8]:
# percentage of students with a passing math score (70 or greater)
passing_math= student_data[student_data["math_score"] >= 70 ]["math_score"].count()
passing_math
passing_math_percent = round(passing_math / total_students * 100, 2)
passing_math_percent

74.98

In [9]:
# percentage of students with a passing reading score (70 or greater)
passing_reading= student_data.loc[student_data["reading_score"] >= 70 ]["reading_score"].count()
passing_reading
passing_reading_percent = round(passing_reading / total_students * 100, 2)
passing_reading_percent

85.81

In [10]:
# percentage of students who passed math and reading (% Overall Passing)

both_passing = student_data.loc[(student_data["reading_score"] >= 70) & (student_data["math_score"] >= 70)]["student_name"].count()

overall_passing = round(both_passing / total_students *100, 2)

overall_passing

65.17

In [11]:
# Create a dataframe to hold the above results

district_summary = pd.DataFrame({
    "Total Schools": [number_school],
    "Total Students": [total_students],
    "Total Budget" : [total_budget],
    "Average Math Score": [average_math],
    "Average Reading Score": [average_reading],
    "Percent Passing Math": [passing_math_percent],
    "Percent Passing Reading": [passing_reading_percent],
    "Percent Overall Passing": [overall_passing]
})

In [12]:
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)

district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,}".format)

district_summary["Percent Passing Math"] = district_summary["Percent Passing Math"].map("{:,}%".format)

district_summary["Percent Passing Reading"] = district_summary["Percent Passing Reading"].map("{:,}%".format)

district_summary["Percent Overall Passing"] = district_summary["Percent Overall Passing"].map("{:,}%".format)

In [13]:
#displayed data cleaner formatting
district_summary = district_summary[["Total Schools",
    "Total Students",
    "Total Budget",
    "Average Math Score",
    "Average Reading Score",
    "Percent Passing Math",
    "Percent Passing Reading",
    "Percent Overall Passing",]]
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
0,15,"39,170","$24,649,428",78.985371,81.88,74.98%,85.81%,65.17%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [14]:
# summarize school names
school_list= all_df.groupby(['school_name'])

type_school = school_data.set_index('school_name')['type']

school_total_student = school_list["Student ID"].count()

school_budget = school_data.set_index("school_name")["budget"]

budget_per_student = school_budget / school_total_student

school_average_math = round(school_list["math_score"].mean(), 2)

school_average_reading = round(school_list["reading_score"].mean(), 2)

school_avgpass_math = round(school_list["math_score"].mean(), 2)

school_avgpassing_reading = round(school_list["reading_score"].mean(), 2)

school_percent_math = round(all_df.loc[all_df["math_score"] >= 70].groupby('school_name')['Student ID'].count() /school_total_student *100 ,2)

school_percent_reading = round(all_df.loc[all_df["reading_score"] >= 70].groupby('school_name')['Student ID'].count() /school_total_student *100, 2)

school_both_passing = all_df.loc[(all_df["reading_score"] >= 70) & (all_df["math_score"] >= 70)].groupby('school_name')['Student ID'].count()

school_percent_both = round(school_both_passing / school_total_student *100, 2)

In [15]:
# summarize school type
new_school_summary = pd.DataFrame({
                                    "Total Students": school_total_student,
                                    "School Type": type_school, 
                                    "Total School Budget": school_budget,
                                    "Budget Per Student" : budget_per_student,
                                    "Average Math Score" : school_average_math,
                                    "Average Reading Score": school_average_reading,
                                    "% Math Score": school_percent_math,
                                    "% Reading Score": school_percent_reading,
                                    "% Overall Passing": school_percent_both
                                    })


new_school_summary['Total Students'] = new_school_summary['Total Students'].map('{:,}'.format)

new_school_summary['Total School Budget'] = new_school_summary['Total School Budget'].map("${:,.2f}".format)

new_school_summary['Budget Per Student'] = new_school_summary['Budget Per Student'].map("{:,.2f}".format)

new_school_summary['% Math Score'] = new_school_summary['% Math Score'].map("{:,.2f}%".format)

new_school_summary['% Reading Score'] = new_school_summary['% Reading Score'].map("{:,.2f}%".format)

new_school_summary['% Overall Passing'] = new_school_summary['% Overall Passing'].map("{:,.2f}%".format)

In [16]:
new_school_summary.head()

,Total Students,School Type,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Math Score,% Reading Score,% Overall Passing
Bailey High School,"4,976",District,"$3,124,928.00",628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,"1,858",Charter,"$1,081,356.00",582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,"2,949",District,"$1,884,411.00",639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,"2,739",District,"$1,763,916.00",644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,"1,468",Charter,"$917,500.00",625.00,83.35,83.82,93.39%,97.14%,90.60%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [17]:
Top_performing = new_school_summary.sort_values("% Overall Passing", ascending = False)
Top_performing.head()

,Total Students,School Type,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Math Score,% Reading Score,% Overall Passing
Cabrera High School,"1,858",Charter,"$1,081,356.00",582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,"1,635",Charter,"$1,043,130.00",638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,"1,468",Charter,"$917,500.00",625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,"2,283",Charter,"$1,319,574.00",578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,962,Charter,"$585,858.00",609.00,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [18]:
bottom_performing = new_school_summary.sort_values("% Overall Passing", ascending = True)
bottom_performing.head()

,Total Students,School Type,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Math Score,% Reading Score,% Overall Passing
Rodriguez High School,"3,999",District,"$2,547,363.00",637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,"2,949",District,"$1,884,411.00",639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,"2,917",District,"$1,910,635.00",655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,"4,635",District,"$3,022,020.00",652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,"4,761",District,"$3,094,650.00",650.00,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [19]:
math_9th = round(all_df.loc[all_df["grade"] == "9th"].groupby("school_name")["math_score"].mean(), 3)
math_10th = round(all_df.loc[all_df["grade"] == "10th"].groupby("school_name")["math_score"].mean(), 3)
math_11th = round(all_df.loc[all_df["grade"] == "11th"].groupby("school_name")["math_score"].mean(), 3)
math_12th = round(all_df.loc[all_df["grade"] == "12th"].groupby("school_name")["math_score"].mean(), 3)

math_avg_df = pd.DataFrame({
    "9th" : math_9th,
    "10th" : math_10th,
    "11th" : math_11th,
    "12th" : math_12th
})

math_avg_df = math_avg_df[["9th", "10th","11th","12th"]]

math_avg_df

                          9th    10th    11th    12th
school_name
Bailey High School     77.084  76.997  77.516  76.492
Cabrera High School    83.095  83.155  82.766  83.277
Figueroa High School   76.403  76.540  76.884  77.151
Ford High School       77.361  77.672  76.918  76.180
Griffin High School    82.044  84.229  83.842  83.356
Hernandez High School  77.438  77.337  77.136  77.187
Holden High School     83.787  83.430  85.000  82.855
Huang High School      77.027  75.909  76.447  77.226
Johnson High School    77.188  76.691  77.492  76.863
Pena High School       83.625  83.372  84.328  84.122
Rodriguez High School  76.860  76.612  76.396  77.691
Shelton High School    83.421  82.917  83.383  83.779
Thomas High School     83.590  83.088  83.499  83.497
Wilson High School     83.086  83.724  83.195  83.036
Wright High School     83.265  84.010  83.837  83.645

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [20]:
reading_9th = round(all_df.loc[all_df["grade"] == "9th"].groupby("school_name")["reading_score"].mean(), 3)
reading_10th = round(all_df.loc[all_df["grade"] == "10th"].groupby("school_name")["reading_score"].mean(), 3)
reading_11th = round(all_df.loc[all_df["grade"] == "11th"].groupby("school_name")["reading_score"].mean(), 3)
reading_12th = round(all_df.loc[all_df["grade"] == "12th"].groupby("school_name")["reading_score"].mean(), 3)

reading_avg_df = pd.DataFrame({
    "9th" : reading_9th,
    "10th" : reading_10th,
    "11th" : reading_11th,
    "12th" : reading_12th
})

reading_avg_df = reading_avg_df[["9th", "10th","11th","12th"]]

reading_avg_df

                          9th    10th    11th    12th
school_name
Bailey High School     81.303  80.907  80.946  80.912
Cabrera High School    83.676  84.253  83.788  84.288
Figueroa High School   81.199  81.409  80.640  81.385
Ford High School       80.633  81.263  80.404  80.662
Griffin High School    83.369  83.707  84.288  84.014
Hernandez High School  80.867  80.660  81.396  80.857
Holden High School     83.677  83.325  83.816  84.699
Huang High School      81.290  81.512  81.417  80.306
Johnson High School    81.261  80.773  80.616  81.228
Pena High School       83.807  83.612  84.336  84.591
Rodriguez High School  80.993  80.630  80.865  80.376
Shelton High School    84.123  83.442  84.374  82.782
Thomas High School     83.729  84.254  83.586  83.831
Wilson High School     83.940  84.021  83.765  84.318
Wright High School     83.833  83.813  84.156  84.073

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [21]:
# From Highest Spending to Lowest Spending
sort_spend_df = new_school_summary.sort_values(["% Overall Passing"], ascending = False)

In [25]:
spending_bins = [0, 585, 630, 645, 680]
spending_groups = ["< $585", "$585 - $630", "$630 - $645", "$645 - $680"]


all_df['spending_bins'] = pd.cut(all_df['budget']/all_df['size'], spending_bins, labels = spending_groups)

gp_spend = all_df.groupby("spending_bins")

spend_avg_math = gp_spend["math_score"].mean()
spend_avg_reading = gp_spend["reading_score"].mean()
spend_pass_math = all_df[all_df['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/gp_spend['Student ID'].count() *100
spend_pass_read = all_df[all_df['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/gp_spend['Student ID'].count() *100
spend_overall = all_df[(all_df['reading_score'] >= 70) & (all_df['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/gp_spend['Student ID'].count()*100

# Set up data frame
spending_ranges = pd.DataFrame({
    "Average Math Score": spend_avg_math,
    "Average Reading Score" : spend_avg_reading,
    "% Passing Math": spend_pass_math,
    "% Passing Reading": spend_pass_read,
    "% Overall Passing": spend_overall

})

spending_ranges.index.name = "Per Student Budget"
spending_ranges = spending_ranges.reindex(spending_groups)

# New format
spending_ranges["Average Math Score"]= spending_ranges["Average Math Score"].map('{:,.2f}'.format) 
spending_ranges["Average Reading Score"]= spending_ranges["Average Reading Score"].map('{:,.2f}'.format) 
spending_ranges["% Passing Math"]= spending_ranges["% Passing Math"].map('{:,.2f}%'.format) 
spending_ranges["% Passing Reading"]= spending_ranges["% Passing Reading"].map('{:,.2f}%'.format) 
spending_ranges["% Overall Passing"]= spending_ranges["% Overall Passing"].map('{:,.2f}%'.format) 
                             
spending_ranges

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Per Student Budget,,,,,
< $585,83.36,83.96,93.70%,96.69%,90.64%
$585 - $630,79.98,82.31,79.11%,88.51%,70.94%
$630 - $645,77.82,81.30,70.62%,82.60%,58.84%
$645 - $680,77.05,81.01,66.23%,81.11%,53.53%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [26]:
size_bins = [0, 1000, 2000, 5000]
size_groups = ["Small (< 1000)", "Medium (1000 - 2000)", "Large(2000 - 5000)"]


all_df['size_bins'] = pd.cut(all_df['size'], size_bins, labels = size_groups)

gp_size = all_df.groupby("size_bins")

size_avg_math = gp_size["math_score"].mean()
size_avg_reading = gp_size["reading_score"].mean()
size_pass_math = all_df[all_df['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/gp_size['Student ID'].count() *100
size_pass_read = all_df[all_df['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/gp_size['Student ID'].count() *100
size_overall = all_df[(all_df['reading_score'] >= 70) & (all_df['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/gp_size['Student ID'].count()*100

# Set up data frame
size_ranges = pd.DataFrame({
    "Average Math Score": size_avg_math,
    "Average Reading Score" : size_avg_reading,
    "% Passing Math": size_pass_math,
    "% Passing Reading": size_pass_read,
    "% Overall Passing": size_overall

})

size_ranges.index.name = "School Size"
size_ranges = size_ranges.reindex(size_groups)

# New format
size_ranges["Average Math Score"]= size_ranges["Average Math Score"].map('{:,.2f}'.format) 
size_ranges["Average Reading Score"]= size_ranges["Average Reading Score"].map('{:,.2f}'.format) 
size_ranges["% Passing Math"]= size_ranges["% Passing Math"].map('{:,.2f}%'.format) 
size_ranges["% Passing Reading"]= size_ranges["% Passing Reading"].map('{:,.2f}%'.format) 
size_ranges["% Overall Passing"]= size_ranges["% Overall Passing"].map('{:,.2f}%'.format) 
                             
size_ranges

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (< 1000),83.83,83.97,93.95%,96.04%,90.14%
Medium (1000 - 2000),83.37,83.87,93.62%,96.77%,90.62%
Large(2000 - 5000),77.48,81.20,68.65%,82.13%,56.57%

## Scores by School Type

* Perform the same operations as above, based on school type

In [27]:


gp_type = all_df.groupby("type")

type_avg_math = gp_type["math_score"].mean()
type_avg_reading = gp_type["reading_score"].mean()
type_pass_math = all_df[all_df['math_score'] >= 70].groupby('type')['Student ID'].count()/gp_type['Student ID'].count() *100
type_pass_read = all_df[all_df['reading_score'] >= 70].groupby('type')['Student ID'].count()/gp_type['Student ID'].count() *100
type_overall = all_df[(all_df['reading_score'] >= 70) & (all_df['math_score'] >= 70)].groupby('type')['Student ID'].count()/gp_type['Student ID'].count()*100

# Set up data frame
type_ranges = pd.DataFrame({
    "Average Math Score": type_avg_math,
    "Average Reading Score" : type_avg_reading,
    "% Passing Math": type_pass_math,
    "% Passing Reading": type_pass_read,
    "% Overall Passing": type_overall

})

type_ranges.index.name = "School Type"

# New format
type_ranges["Average Math Score"]= type_ranges["Average Math Score"].map('{:,.2f}'.format) 
type_ranges["Average Reading Score"]= type_ranges["Average Reading Score"].map('{:,.2f}'.format) 
type_ranges["% Passing Math"]= type_ranges["% Passing Math"].map('{:,.2f}%'.format) 
type_ranges["% Passing Reading"]= type_ranges["% Passing Reading"].map('{:,.2f}%'.format) 
type_ranges["% Overall Passing"]= type_ranges["% Overall Passing"].map('{:,.2f}%'.format) 
                             
type_ranges

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.41,83.90,93.70%,96.65%,90.56%
District,76.99,80.96,66.52%,80.91%,53.70%